<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark">VÍCTOR URIEL JUÁREZ LUGO - 2020030324</a>
    </div>
    <!-- Copyright -->
  </footer>