<center>
    <%-include('partials/encabezado.html');%>
</center>   

<body>
<center>
<div class="container">

    <img src="/img/LogoAgencia.png" class="img-thumbnail" style="width: 300px;"> 
    <br><br>
    <form action="" method="post">

        <label class="lead" for="">Número del boleto: </label>
                
            <div class="input-group mb-3">
                    
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" type="number" name="numBoleto" id="numBoleto" required="true" placeholder="Escriba el número del boleto">
                
            </div>
        
        <label class="lead" for="">Destino: </label>
            
            <div class="input-group mb-3">
                        
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" type="text" name="destino" id="destino" required="true" placeholder="Escriba el destino">
                
            </div>

        <label class="lead" for="">Nombre del cliente: </label>
            <div class="input-group mb-3">
                            
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" type="text" name="nombreCliente" id="nombreCliente" required="true" placeholder="Escriba su nombre completo">
                
            </div>
        
        <label class="lead" for="">Años cumplidos: </label>
                
            <div class="input-group mb-3">
                    
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" type="number" name="anosCumplidos" id="anosCumplidos" required="true" placeholder="Escriba su edad" max="99">
                
            </div>
        
        <label class="lead" for="">Tipo de viaje:</label>

            <select name="tipoViaje" id="tipoViaje" class="form-control border-secondary">
                <option value="1">Sencillo</option>
                <option value="2">Doble</option>
                

            </select>
       
        <label class="lead" for="">Precio: </label>
                
            <div class="input-group mb-3">
                    
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" type="number" name="precio" id="precio" required="true" placeholder="Precio">
                
            </div>

            <label class="lead" for="">Nota al consumidor: El tipo de viaje "Doble" aumentará el costo del boleto colocado en un 80%</label>
            <label class="lead" for="">Nota al consumidor: Si ingresa un precio igual a 0, no se calculará su importe</label>
        
        <hr>
        <button type="submit" class="btn btn-primary mb-2" name="calcular" id="calcular">Calcular</button>
        <button type="button" class="btn btn-primary mb-2" name="limpiar" id="limpiar" onclick="limpiarCampos()">Limpiar datos ingresados</button>
        <hr>
      
    </form>
    
    <%      
        let precioBoleto = 0;
        let porcentajeInpuesto = 0.16;
        let impuesto = 0
        let descuento = 0.5
        let totalAPagar = 0

        if(precio != 0){
            if (tipoViaje == 1 && anosCumplidos < 60) {
                precioBoleto = parseFloat(precio);
                impuesto = parseFloat(precioBoleto * porcentajeInpuesto);
                descuento = 0;
                totalAPagar = parseFloat(precioBoleto + impuesto - descuento)
                tipoViaje = "Sencillo"
            }   
            else if(tipoViaje == 1 && anosCumplidos >= 60) {
                precioBoleto = parseFloat(precio);
                impuesto = parseFloat(precioBoleto * porcentajeInpuesto);
                descuento = parseFloat(precioBoleto * descuento);
                totalAPagar = parseFloat(precioBoleto + impuesto - descuento)
                tipoViaje = "Sencillo"
            }   
            else if (tipoViaje == 2 && anosCumplidos < 60) {
                precioBoleto = parseFloat(precio) + (parseFloat(precio) * 0.8);
                impuesto = parseFloat(precioBoleto * porcentajeInpuesto);
                descuento = 0;
                totalAPagar = parseFloat(precioBoleto + impuesto - descuento)
                tipoViaje = "Doble"
            }
            else if (tipoViaje == 2 && anosCumplidos >= 60) {
                precioBoleto = parseFloat(precio) + (parseFloat(precio) * 0.8);
                impuesto = parseFloat(precioBoleto * porcentajeInpuesto);
                descuento = parseFloat(precioBoleto * descuento);
                totalAPagar = parseFloat(precioBoleto + impuesto - descuento)
                tipoViaje = "Doble"
            }
        }


    %>
    

    
    <table id="tabla" class="table table-striped table-hover  table-bordered border-secondary" style="text-align: center;">
        <tbody>
            <tr>
                <th colspan="3">INFORMACIÓN DEL BOLETO</th>
            </tr>
            <tr>
                <th scope="row">No. Boleto: </th>
                <td><%=numBoleto%></td>
                <td></td>
            </tr>

            <tr>
                <th scope="row">Nombre del cliente: </th>
                <td><%=nombreCliente%></td>  
                <td></td> 
            </tr>
            
            <tr>
                <th scope="row">Años cumplidos: </th>
                <td><%=anosCumplidos%> Años</td>
                <td></td>   
            </tr>
                        
            <tr>
                <th scope="row">Destino: </th>
                <td><%=destino%></td>
                <td></td>   
            </tr>

            <tr>
                <th scope="row">Tipo de viaje: </th>
                <td><%=tipoViaje%></td> 
                <td></td>  
            </tr>

            <tr>
                <th scope="row">Precio: </th>
                <td>$<%=precio%></td>  
                <td></td> 
            </tr>

            <tr>
                <th colspan="3">IMPORTE </th>  
            </tr>
            
            <tr>
                <td></td>
                <th scope="row">Subtotal: </th>
                <td>$<%=precioBoleto%></td>
            </tr>

            <tr>
                <td></td>
                <th scope="row">Impuesto 16%: </th>
                <td>$<%=impuesto%></td>   
            </tr>
            
            <tr>
                <td></td>
                <th scope="row">Descuento: </th>
                <td>$<%=descuento%></td>   
            </tr>
                        
            <tr>
                <td></td>
                <th scope="row">Total a pagar: </th>
                <td>$<%=totalAPagar%></td>   
            </tr>

        </tbody>
    </table>




</div>
</center>



<center>
<%-include('partials/piePagina.html');%>
</center>





</body>

<script>
function limpiarCampos() {
  document.getElementById("numBoleto").value = "";
  document.getElementById("destino").value = "";
  document.getElementById("nombreCliente").value = "";
  document.getElementById("anosCumplidos").value = "";
  document.getElementById("tipoViaje").selectedIndex = 0;
  document.getElementById("precio").value = "";
}
</script>